.filament-brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filament-brand img {
    height: 38px !important;
    width: auto;
    filter: brightness(1.2) contrast(1.2);
}

.filament-brand span {
    font-weight: 600;
    font-size: 18px;
    color: #1a202c;
}
